{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                <!-- 
                if you are confused what this is doing, 
                `View Page Source` in the browser 
                Basically, code below is like :
                <label class="form-control-label" for="username">Username</label>
                <input class="form-control form-control-lg" id="username" maxlength="24" minlength="4" name="username" required type="text" value="">
                -->
                {{ form.title.label(class="form-control-label") }}
                
                {% if form.title.errors %}
                    <!-- IF there is error, then for that label, also create
                    RED highlight around input field. that's why we add `is-invalid` class
                    as well for error.  -->
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        <!-- Add div here that will show update_button
        if the user is authenticated as well. Not. Key Backend Insight would be, anyone viewing this HTML 
        knowing what address he could pass to log in. And using that as an exploit. -->
    </form>
</div>
{% endblock content %}